{% extends "Base.html"%}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content%}

<div class="Add-User1 Content-Formulari" id="ContenFormulary">
    
    <div id="FondoImg">
        
    </div>

    <div id="RegistroUser">
        <div>
            <h3>Información del Usuario</h3>
            <a href="/Registro/">
                <img src="{% static 'img/cierre.jpg'%}" id="Cierre" class="Cierre">
            </a>
        </div>

        <div>
            <form class="mt-5" id="FormularyUser1">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="first_name">Nombre</label>
                    <p > {{user.first_name}} </p>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="last_name">Apellido</label>
                    <p > {{user.last_name}} </p>
                  </div>
                </div>
        
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Cedula">Cédula</label>
                        <p > {{user.Cedula}} </p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Telefono">Teléfono</label>
                        <p > {{user.Telefono}}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Correo</label>
                        <p > {{user.email}}</p>
                    </div>
                    <div class="form-group col-md-6">
                            <label for="username">Nombre de Usuario</label>
                            <p > {{user.username}}</p>
                    </div>
                </div>
        
                <div class="form-row">
                    
                    <div class="form-group col-md-6">
                        <label for="">Numero de Cuenta</label>
                        <p> {{user.NumeroCuenta}}</p>
                    </div>
                    <div class="form-group col-md-6">
                            <label for="">Saldo Actual</label>
                            <p> {{user.Saldo}}</p>
                    </div>
                </div>
            </form>
        
            </div>

    </div>

    <style>

        .Add-User1{
            display: flex;
            justify-content: space-around;
            width: 120%;
        }
        #FondoImg{
            width: 70%;
            height: auto;
            margin: 10px;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeCDPouKyF9Opi7xZOAI-9a8SDWO77EdY9--S4nqRvjULKWfj6R0eXMZSObnPxGn311jQ&usqp=CAU);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-origin: initial;
        }
        #RegistroUser{
            width: 50%;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        }

        .Content-Formulari{
            width: 95%;
            padding: 20px;
            margin-left: 2%;
            margin-top: 50px;
            border: none;
            display: flex; 
        }
        .Cierre{
            width: 35px;
            height: 35px;
            display: flex;
            margin-top: -15%;
            margin-left: 100%;
            border-radius: 50%;
        }
    </style>
    
    <script>
        const FondoPrincipal = document.getElementById("FondoPrincipal");
        FondoPrincipal.style.display ="none"; 
    </script>

</div>

{% endblock %}