{% extends "Base.html"%}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content%}

<div id="Content-Login">
    <div id="fondo">
        
    </div>
    <div id="Login">
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="{% static 'img/logo1.png'%}" class="logo1">
              </div>
          
              <!-- Login Form -->
              <form action="/login/" method="post">
                {% csrf_token %}
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="correo">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="contraseña">
                <input type="submit" class="fadeIn fourth" value="Ingresar">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
              </div>
          
            </div>
          </div>
    </div>
</div>

<style>
    .logo1{
        width: 100px;
        height: 100px;
        border-radius: 40%;
        margin-top: -30px;
    }
    #Content-Login{
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
    }
    #fondo{
        width: 60%;
        height: 300px;
        margin: 10px;
        padding: 10px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeCDPouKyF9Opi7xZOAI-9a8SDWO77EdY9--S4nqRvjULKWfj6R0eXMZSObnPxGn311jQ&usqp=CAU);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    
    .Login{
        background-color: rgb(228, 25, 25);;
        width: 30%;
        margin: 10px;
        height: 10px;
    }
</style>

<style>
    #WithoutSession{
      display: none;
    }
    html {
        background-color: #56baed;
      }
      
      body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
      }
      
      a {
        color: #92badd;
        display:inline-block;
        text-decoration: none;
        font-weight: 400;
      }
      
      h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display:inline-block;
        margin: 40px 8px 10px 8px; 
        color: #cccccc;
      }
      
      
      
      /* STRUCTURE */
      
      .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
      }
      
      #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
      }
      
      #formFooter {
        background: rgb(228, 25, 25);
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
      }
      
      
      
      /* TABS */
      
      h2.inactive {
        color: #cccccc;
      }
      
      h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
      }
      
      
      
      /* FORM TYPOGRAPHY*/
      
      input[type=button], input[type=submit], input[type=reset]  {
        background-color: rgb(228, 25, 25);;
        border: none;
        color: rgb(3, 0, 0);
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
        background-color: rgb(228, 25, 25);
      }
      
      input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }
      
      input[type=text],input[type=password] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
      }
      
      input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
      }
      
      input[type=text]:placeholder {
        color: #cccccc;
      }
      
      
      
      /* ANIMATIONS */
      
      /* Simple CSS3 Fade-in-down Animation */
      .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
</style>

<script>
  const FondoPrincipal = document.getElementById("FondoPrincipal");
  FondoPrincipal.style.display ="none"; 
</script>

{% endblock %}