{% extends "Base.html"%}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content%}

<div class="Add-User1 Content-Formulari" id="ContenFormulary">
    
    <div id="FondoImg">
        
    </div>

    <div id="RegistroUser">
        <div>
            <h3>Proceso de Transaccion</h3>
            <a href="/Registro/">
                <img src="{% static 'img/cierre.jpg'%}" id="Cierre" class="Cierre">
            </a>
        </div>
        
        <div class="mt-5" id="FormularyTransaccion">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="NumeroCuenta1">Número de cuenta</label>
                <input type="text" class="form-control" id="NumeroCuenta1" name="NumeroCuenta1" value={{user.NumeroCuenta}} readonly>
              </div>
    
              <div class="form-group col-md-6">
                <label for="SaldoA">Su saldo actual es</label>
                <input type="text" class="form-control" id="SaldoA" name="SaldoA" value={{user.Saldo}} readonly>
              </div>
            </div>
    
            <div class="form-row">
                
                <div class="form-group col-md-6">
                    <label for="SaldoR">Cantidad a Retirar</label>
                    <input type="number" class="form-control" id="SaldoR" name="SaldoR" placeholder="Cantidad que desea retirar">
                </div>
                
                <div class="form-group col-md-6">
                    <label for="" style="opacity: 0;">Transferir</label>
                    <button id="RetirarSaldo" class=" form-control btn btn-primary text-center">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const FondoPrincipal = document.getElementById("FondoPrincipal");
        FondoPrincipal.style.display ="none"; 
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        let NumeroCuentaU = document.getElementById("NumeroCuenta1");
        let Modificar = document.getElementById("RetirarSaldo");
        let Saldo = document.getElementById("SaldoR");

        Modificar.addEventListener("click", ()=>{
            
            let data = {

                Retiro:Saldo.value
                
            }
            fetch(`/BuscarCuenta/${NumeroCuentaU.value}/`,{
                method:"PATCH",
                body: JSON.stringify(data),
                headers:{
                    "Content-Type" : "application/json",
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response=> response.json())
            .then(data=> {
                if(data.status === 200){
                    Swal.fire({
                        icon: 'success',
                        title: '¡Retiro exitoso!',
                        text: `Su saldo actual es ${data.dat.SaldoActual}`,
                        showConfirmButton: true,
                        timer: 1500
                    });
                }
                if(data.status === 500){
                    Swal.fire({
                        icon: 'error',
                        title: '¡Transacción Fallida!',
                        text: `${data.Mensaje}`,
                        showConfirmButton: true,
                        timer: 1500
                    });
                }
            })

        })
    </script>

    <style>

        .Add-User1{
            display: flex;
            justify-content: space-around;
            width: 120%;
        }
        #FondoImg{
            width: 70%;
            height: auto;
            margin: 10px;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeCDPouKyF9Opi7xZOAI-9a8SDWO77EdY9--S4nqRvjULKWfj6R0eXMZSObnPxGn311jQ&usqp=CAU);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-origin: initial;
        }
        #RegistroUser{
            width: 50%;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        }

        .Content-Formulari{
            width: 95%;
            padding: 20px;
            margin-left: 2%;
            margin-top: 50px;
            border: none;
            display: flex; 
        }
        .Cierre{
            width: 35px;
            height: 35px;
            display: flex;
            margin-top: -15%;
            margin-left: 100%;
            border-radius: 50%;
        }
    </style>
    

</div>

{% endblock %}